<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>wfm-agent</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			classpath*:/spring/app-context.xml
		</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.tomcat.agent.ServletContextListenerServiceLocator</listener-class>
  </listener>
  <filter>
    <display-name>AgentFilter</display-name>
    <filter-name>AgentFilter</filter-name>
    <filter-class>com.tomcat.agent.AgentFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AgentFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>jsp</servlet-name>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    <init-param>
      <param-name>tagpoolClassName</param-name>
      <param-value>org.apache.jasper.runtime.TagHandlerPool</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>spring-dispatcher</servlet-name>
    <servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CSFServlet</display-name>
    <servlet-name>CSFServlet</servlet-name>
    <servlet-class>com.tomcat.agent.CSFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSFServlet</servlet-name>
    <url-pattern>/CSFServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>spring-dispatcher</servlet-name>
    <url-pattern>*.mvc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PropertyLoader</display-name>
    <servlet-name>PropertyLoader</servlet-name>
    <servlet-class>com.tomcat.agent.PropertyLoader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PropertyLoader</servlet-name>
    <url-pattern>/loader</url-pattern>
  </servlet-mapping>
</web-app>