<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AngularJS One-way Data binding Demo</title>
    <link href="css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="js/ex4.js"></script>
  </head>

  <body class="wrapper">
	<div ng-app="app">
		<h1>Context</h1><br>
			<div ng-controller="MainCtrl">
			  Name: <input ng-model="name" type="text"/>
			  <button ng-click="greet()">Greet</button>
			  <button ng-click="window.alert('Should not see me')">Won't greet</button>
			</div>
	</div>
  </body>
</html>


