<!doctype html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>AngularJS One-way Data binding Demo</title>
    <link href="css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="js/ex10.js"></script>
  </head>

  <body class="wrapper">
    <!-- ng-repeat with filter js -->
	<div ng-controller="TestCtrl">
		<h1> Using ng-repeat with filter </h1><br>
		<div class="inbox__list" ng-repeat="item in items | filter: itemFilter | orderBy:'name' ">
		   <strong>{{item.name | uppercase }}</strong> {{item.description | limitTo: 3 : 2 | uppercase}}
		</div>

		<h1> Using ng-repeat with orderBy </h1><br>

		<div class="inbox__list" ng-repeat="item in items | orderBy:'name':true ">
		   <strong>{{item.name | uppercase }}</strong> {{item.description | limitTo: 3 : 2 | uppercase}}
		</div>


		<h1>Assigning Filter Output To Variables</h1>
			<ol>
				<li ng-repeat="item in filteredItems =(items | filter: filterArray )">
		   			{{item.name}} {{$first}}, {{$middle}}, {{$last}}
    			</li>
			</ol>
			<div>{{filteredItems.length}}</div>

		<h1>Custom Filters</h1>
			<ol>
				<li ng-repeat="item in filteredItems">
		   			{{item.name | myFilter}} {{$first}}, {{$middle}}, {{$last}}
    			</li>
			</ol>
	</div>
	<br>
  </body>
</html>


