<!doctype html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>AngularJS One-way Data binding Demo</title>
    <link href="css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="js/ex4.js"></script>
  </head>

  <body class="wrapper">
    <!-- ng-click demo -->
	<div ng-controller="MainCtrl">
		<div class="alert alert-warning">
		   <h4>Current Item</h4>
		   <strong>{{currentItem.name}}</strong><br>
		   {{currentItem.description}}
		</div><br>

		<div class="alert alert-success" ng-repeat="item in items" ng-click="setCurrentItem(item)">
		   <strong>{{item.name}}</strong><br> {{item.description}}
		</div>
	</div>
  </body>
</html>


