<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="10 seconds" >
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="com.demo.web" level="ERROR" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>
 </configuration>